BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
PointerAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false

IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

SortIncludes: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

AlignAfterOpenBracket: Align

ReflowComments: false

IndentPPDirectives: None
